/* --------------- 移动端默认样式 -------------- */ 
body{
    margin:0;
}

body *{
    -webkit-text-size-adjust: 100%;
}

a,input,button{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,button{
    border-radius:0;
    -webkit-appearance: none;
}

/* --------------- PC端默认样式 -------------- */
a{
    text-decoration: none;
}
h1,h2,h4,figure,p{
    margin:0;
}
h1,h2,h4{
    font-weight: normal;
}
img{
    vertical-align: top;
    border:none;
}
ul{
    margin:0; padding:0;
}
li{
    list-style: none;
}

/* --------------- 公用class -------------- */
.clearfix:after{
    content : '';
    display:block;
    clear:both;
} 
.clearfix{
    zoom:1;
}

/* ------------------ 栅格类 ------------------ */ 
/* @index 执行多少次， @num 分成多少格子， @size 屏幕的尺寸，默认是xs */ 
.col(@index, @num, @size:xs) when (@index > 0) {
    .col(@index - 1, @num, @size);
    .col-@{size}-@{index}{
        width:100% / @num * @index;
        float:left;
    }
}

/* 列排序 */ 
.col-push(@index, @size, @num) when (@index > 0){
    .col-push(@index - 1, @size, @num);
    .col-@{size}-push-@{index}{
        position: relative;
        left:100%/@num * @index;
    }

    .col-@{size}-pull-@{index}{
        position: relative;
        left:-100%/@num * @index;
    }
}

/* 颜色函数 */ 
@color:#e26c60; //设置参考颜色
.difColor(@index) when(@index > 0){
    .difColor(@index - 1);
    //执行spincolor函数
    @spincolor:spin(@color, (180 - @index*60));
    //同色系的淡色
    @lightcolor:lighten(@spincolor, 20%);
    li:nth-of-type(@{index}){
        >span{
            background:@spincolor;
        }
    
        p{
            span{
                color:@spincolor;
            }

            em{
                background: @lightcolor;
            }
        }
    }
}