/* --------------- lg尺寸样式 -------------- */
@media all and (min-width:1180px) {
    .container{
        width:1180px;
    }
    //分成59份
    .col(59, 59, lg);
    .col-push(59, lg, 59);

    .nav{
        border-bottom:1px solid #37303b;
    }
    .self_pic{
    
        .self_pic_box{
            
            img{
                margin-left:13px;
            }
        }
    }
    .self_sign{        
        padding:0 87px 0 25px;
    }
    .self_message{
    
        .self_list{
    
            li{    
                span{
                    width:134px;
                }
                p{
                    margin-left:134px;
                    line-height:30px;
                    padding:0; //处理Li设置了整体行高比p行高大导致span内容和p不对齐的问题
                    padding-left:12px;
                }
                
            }
    
        }
    }

    .concat{
        padding-right:0px;
        a{
            font-size:14px;
            line-height:90px;
            
            &:first-of-type{
                padding-right:38px;
            }
        }
    }

    .skill_bg{
        padding-top:36px;
        padding-bottom:59px;
    }
    
    .skill_bg{
    
        .title {
            h2{
                font-size:36px;
                line-height:46px;
            }
            h4{
                font-size:16px;
                line-height:28px;
            }
        }
    
        .skill_list{
            padding-top:23px;
    
            li{
                height: 40px;
                line-height:40px;
                margin-top:19px;
                position: relative;
                >span{
                    width:59px;
                    height:40px;
                    font-size:20px;
                }
    
                p{
                    margin-left:59px;
                    height:40px;
                    span{
                        font-size:20px;
                        padding-left:10px;
                    }
                    
                    em{
                        height:40px; 
                    }   
                }    
            }
        }
    }
}