/* ------------- lg尺寸 ------------- */ 
@media all and (min-width:1180px) { 
    .container{
        width:1180px; margin:0 auto;
        padding:0;
    }

    .col-size-num(59, 59, lg);
    .col-move(59, 59, lg);

    .self_pic{
        
        .self_pic_img{
            padding:0;
            img{
                margin-left:13px;
            }
        }
    }

    .self_sign{
        padding:0 87px 0 25px;
        box-sizing: border-box;
        background:none;
    }

    .self_message_list{
        
        li{
            span{
                width:94px;
            }
            p{
                color:#b6bbc0;
                line-height:30px;
                padding: 0;
                padding-left:12px;
                margin-left:94px;
            }
        }
    }

    .concat{
        padding-right:0;

        a{
            font-size:14px;
            line-height:90px;

            &:first-of-type{
                padding-right:38px;
            }
        }
    }

    .skill_bg{
        padding-top:35px;
    }

    .title{
        h2{
            font-size:34px;
            line-height:48px;
        }

        p{
            font-size:16px;
            line-height:28px;
        }
    }

    .skill_list{
        padding-top:22px;
        padding-bottom:59px;
    
        li{
            height:40px;
            line-height:40px;
            margin-top:19px;
    
            .left{
                width:59px; height:40px;
                font-size:16px;
            }
    
            .right{
                margin-left:59px;
                height: 40px;
    
                span{
                    padding-left:9px;
                    font-size:18px;
                }
                
                em{
                    width:10%;
                    height:40px;
                }
            }
        }
    
        .skill-dif-color(10);
    }

    .work_line{
        padding-top:42px;
    }
    
    .work_line{
        .title{
            p {
                line-height:30px;
            }   
        }
    }

    .work_history{
        padding-top:38px;
        padding-bottom:37px;
        
        li{
            &:first-of-type{
                h2{
                    &:before{
                        top:-5px;
                        left:-6px;
                    }    
                }
            }
    
            h2{
                height:56px;
                
                &:after{
                    right:0; 
                    bottom:-6px;
                }
                
                .time{
                    font-size:16px;
                    line-height:40px;
                    padding-top:16px;
                    text-indent: 59px;
                }
                .position{
                    font-size:16px;
                    line-height:45px;
                    padding-top:11px;
                    padding-right:16px;
                    transform: translateY(47px);
                }
    
                .icon{
                    padding:8px;
                    border:2px solid transparent;
                    margin:17px 0 0 -40px;
    
                    &:before{
                        width:60px; height:60px;
                        background-position: 0 -254px;
                        background-size:400px;
                    }
                }
            }
    
            .content{
    
                padding-left:57px;
                padding-top:4px;
    
                &:before{
                    width:10px; height:10px;
                    left:-45px; top:-11px;
                }
    
                h4{
                    font-size:18px;
                    line-height:46px;
                }
                p{
                    font-size:12px;
                    line-height:24px;
                }
            }
    
            &:last-of-type{
                .content{
                    p{
                        &:before{
                            width:10px; height:10px;
                            left:-6px;
                            bottom:0;
                        }
                    }
                }
            }
        }
        .work_em_bg(3, 60px, 1);
    
        li:nth-of-type(odd){
            h2{
                border-bottom:2px solid #e26c60;
                border-left:2px solid #e26c60;
    
                .icon{
                    border-top:2px solid #e26c60;
                    border-bottom:2px solid #985a99;
                }
            }
            .content{
                border-left:2px solid #985a99;
            }
        }
    
        li:nth-of-type(even){
            h2{
                border-bottom:2px solid #985a99;
                border-left:2px solid #985a99;
    
                .icon{
                    border-top:2px solid #985a99;
                    border-bottom:2px solid #e26c60;
                }
            }
            .content{
                border-left:2px solid #e26c60;
            }
        }
    }

    .case_bg{
        padding-top:45px;
    }
    
    .case_list{
        padding-top:30px;
        width:360px;
    }

    .case_list_content{
        float:right;
        width:800px;
    
        li{
            header{
                width:640px;   
            }
        }
    }

    .project_bg{    
        .title{
            padding-top:44px;
        }
    }

    .project_list{
        li{
            .intro{
                padding:15px 0 45px 0;
            }
        }
    }

    .last_info{
        padding:31px 0 89px 0;

        .open_way{
            margin:0 2px 0 0;
            
            p{
                width:166px;
                padding:13px 20px 0 0;
            }
        }
    }

}